body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 20px;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
}

.gradient-custom {
  /* fallback for old browsers */
  background: #ffffff;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgba(255, 255, 255, 1),
    rgba(255, 236, 210, 1)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1),
    rgba(255, 236, 210, 1)
  );
}

.carousel-item {
  height: 230px;
}

.carousel-item .flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-item .fa-sun,
.carousel-item .fa-cloud,
.carousel-item .fa-cloud-showers-heavy {
  color: #ddd;
}
